body{
    color:black;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 4px;
    width:500px;
}

h2{
    font-size: 23px;
    text-decoration: underline;
    color:red;
}