body {
    margin: 0 auto;
    max-width: 600px;
    background-color: azure;
    border-style: double;
    border-width: 5px;
    padding: 0 10px;
    box-shadow: black 10px 10px 10px 0;
}

h2 {
    text-align: center;
}

textarea{
    width:90%;
    margin-left: 30px;
  
}

.submit{
    height:35px;
    width: 60px;
    margin-left: 270px;
    margin-bottom: 10px;
}


.error {color: #FF0000;}